<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Sidnei Ferrari, Programador e apixonado po tecnologia</span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                        sentiment_satisfied
                    </i>sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                        computer_arrow_up
                    </i>
                    habilidades
                </a>
            </div>
        </div>

    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/imgs/profile.jpg" alt="foto de Sidnei Ferrari">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Sou programador Web Especialista em Angular TypeScript,JavaScript,CSS,HTML e C# </h3>

                <p> Sou apaixonado por tecnologia, programação e dar vida aos projetos.
                    Me preocupo bastante com a funcionalidade e o design.</p>

                <p>Tenho conhecimento tanto no frontend como backend.</p>

                <p>Estou sempre aberto para conversar sobre novos projetos e oportunidades! 😉</p>

                <p></p>

                <a href="#contact">entre em contato comigo!</a>
            </div>

        </div>
    </section>
</main>