<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Sidnei Ferrari Programador Front-End Web | Especialista em C#, HTML e
                    CSS.</span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                        sentiment_satisfied
                    </i>sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                        computer_arrow_up
                    </i>
                    habilidades
                </a>
            </div>
        </div>

    </section>
</main>